<div class="row">
	<div class="col-md-12">
		<iframe src="lesson.pdf" frameborder="0" height="500" width="99%"></iframe>
		<form class="form">
			<div class="form-group">
				<br />
				<a href="?p=quizzing" class="btn btn-primary">Take Quiz</a>
				<button class="btn btn-default">Cancel</button>
			</div>
		</form>
	</div>
</div>