<div id="dNewLessonButton" class="row">
	<div class="col-md-12">
		<form class="form">
			<div class="form-group">
				<a href="#" id="btnNewLesson" class="btn btn-primary">New Lesson</a>
			</div>
		</form>
	</div>
</div>

<div id="dLesson">
<form class="form">
	<div class="row">
		<div class="col-md-12">
			
			<div class="form-group">
				<label for="iUrl">Title</label>
				<input type="text" class="form-control" id="iTitle" value="Plaid Awareness" />
			</div>
			
			<div class="form-group">
				<label for="iUrl">URL</label>
				<input type="text" class="form-control" id="iUrl" placeholder="http://" value="http://www.bustle.com/articles/20343-how-did-plaid-become-popular-a-brief-and-grungy-fashion-history" />
			</div>
			
			<hr noshade="noshade" />
		</div>
	</div>
			
	<div class="row form-group">
		<div class="col-md-6">
			<label for="1">Question 1</label>
			<textarea class="form-control" name="1" id="1" rows="6">Most of us don’t know the difference between plaid and tartan. Tartan refers to the unique cloth patterns which:</textarea>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="1_1">Answer 1-1</label>
				<input type="text" class="form-control" name="1_1" id="1_1" placeholder="" value="Wealthy Scottish travelers used to identify themeselves">
				<label class="checkbox-inline"><input type="checkbox" id="1_cb1" value="c">Correct</label>
			</div>
			<div class="form-group">
				<label for="1_2">Answer 1-2</label>
				<input type="text" class="form-control" name="1_2" id="1_2" value="Differentiate Scottish clans from each other">
				<label class="checkbox-inline"><input type="checkbox" id="1_cb2" value="c" checked="checked">Correct</label>
			</div>
			<div class="form-group">
				<label for="1_3">Answer 1-3</label>
				<input type="text" class="form-control" name="1_3" id="1_3" value="Were used in kilts, rather than as sashes or war dress">
				<label class="checkbox-inline"><input type="checkbox" id="1_cb3" value="c">Correct</label>
			</div>
		</div>
		

	</div>
		
	<div class="row form-group">
		<div class="col-md-12">
			<hr noshade="noshade" />
			<div class="btn-group">
				<button type="button" class="btn btn-primary" id="btnAddQuestion">Add Question</button>
				<button type="button" class="btn btn-default" id="btnSaveLesson">Save Lesson</button>
				<button type="button" class="btn btn-default" id="canNewLesson">Cancel</button>
			</div>
		</div>
	</div>
</form>
</div>