<div class="row">
	<div class="col-md-12">
		<div id="dReport">
			<table id="tReport" class="table table-hover">
				<tbody><tr>
					<th>Associate</th>
					<th>Lesson</th>
					<th>Progress</th>
				</tr>
				
				<tr>
					<td rowspan="3">Andrew Tanner (552)</td>
					<td><a href="?p=lessonviewer">Plaid Awareness</a></td>
					<td class="warning">Opened Mar 23 2015.<br />No attempts.</td>
				</tr>

				<tr>
					<td>Customer Greetings: Polite but Firm</td>
					<td>Complete Feb 10 2015 - 100%</td>
				</tr>
				
				<tr>
					<td>Lunch Room Safety</td>
					<td>Complete Jan 4 2015 - 67%</td>
				</tr>
				
				<tr>
					<td rowspan="3">Bob Badgerson (8823)</td>
					<td>Plaid Awareness</td>
					<td class="danger">Not opened. No attempts.</td>
				</tr>

				<tr>
					<td >Customer Greetings: Polite but Firm</td>
					<td class="warning">Complete Feb 16 2015 - 50%</td>
				</tr>
				
				<tr>
					<td>Lunch Room Safety</td>
					<td>Complete Jan 7 2015 - 100%</td>
				</tr>
				
				<tr>
					<td rowspan="3">Carrie Dutch (9231)</td>
					<td>Plaid Awareness</td>
					<td class="warning">Opened Mar 25 2015.<br />1 attempts - 9%</td>
				</tr>

				<tr>
					<td>Customer Greetings: Polite but Firm</td>
					<td>Complete Feb 14 2015 - 100%</td>
				</tr>
				
				<tr>
					<td>Lunch Room Safety</td>
					<td>Complete Jan 6 2015 - 100%</td>
				</tr></tbody>
			</table>
			<div class="help-block">
				3 of 3 associates.  If they're not in this list, please <a href="#">add them to Training</a>.
			</div>
		</div>
	</div>
</div>