<div class="row">
	<div class="col-md-12">
		
		<h2 class="uglyh3 text-center"><?=$quiztitle?></h2>
		<hr noshade="noshade" />
		
		<form class="form">
		<div>
			<p class="lead">Which pattern is best for fall?</p>
	
			<div class="radio">	
				<label>		
				<input type='radio' name='firstQ' value='0'>			
				Horizontal
				</label>
			</div>
		
			<div class="radio">
				<label>		
				<input type='radio' name='firstQ' value='1'>			
				Vertical
				</label>
			</div>
			<div  class="radio">
				<label>		
				<input type='radio' name='firstQ' value='2'>			
				Diagonal
				</label>
			</div>
			<div class="radio">
				<label>		
				<input type='radio' name='firstQ' value='3'>			
				Diagonal(Reversed)
				</label>
			</div>
		</div>
		<div>
			<p class="lead">Which shirt is the MOST stylish?</p>

			<div class="radio">	
				<img src="plaid1.jpg" alt="Smiley face" height="152" width="152">
				<label>		
					<input type='radio' name='secondQ' value='0' />			
					Red with Black
				</label>
			</div>
			<div class="radio">
				<img src="plaid3.jpg" alt="Smiley face" height="152" width="152">
				<label>		
					<input type='radio' name='secondQ' value='1' />			
					Black with Red
				</label>
			</div>
			<div class="radio">
				<img src="plaid2.jpg" alt="Smiley face" height="152" width="152">
				<label>		
					<input type='radio' name='secondQ' value='2' />			
						Maroon with Black
					</label>
			</div>
			<div class="radio">
				<img src="plaid4.jpg" alt="Smiley face" height="152" width="152">
				<label>		
					<input type='radio' name='secondQ' value='3' />			
					Red with Darkness
				</label>
			</div>
		</div>
		<div class="form-group">
			<hr noshade="noshade" />
			<button type="button" id="submit_button" class="btn btn-primary">Submit Quiz</button>
		</div>
		</form>
	</div>
</div>