<h1 class="uglyh3"><?=$quiztitle?></h1>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8 ">
<script type="text/javascript">
$(document).ready(function(){
    $("#submit_button").click(function(){
        return false;
    });
});
</script>
<form class="form" action="#">
	<div id="questionBlock" >
	
	<?php
	$member = 1;
	foreach($questions as $question)
	{
		//echo $question['question_id'];
		echo "<div class=\"form-group\" id='question_" . $question['question_id'] . "'>";
		//echo "<h1>Question" . $member . "</h1><br>";
		echo "<big>" . $question['question_text'] . "</big>";
		echo "<br>";
		echo "<div class=\"radio\">";
		foreach($question['question_options'] as $option)
		{
			echo "<label class=\"radio-inline\">";
			

			echo "<input type='radio' name='" . $option['value']  . "' value='" . $option['qid'] . "'>";			
			echo $option['value'];
			echo "</label>";
			echo "<br>";
		}
		echo "</div>";
		echo "</div>";
		$member++;
	}
	?>
		
	</div>
	<br>

	<button type="button" id="submit_button" class="btn btn-primary">Submit</button>
</form>
</div>
</div>



